/* stylee css */


h1 {

text-align: center;
    color: orange;
  }


  
.first {
  width: 50px;
  height: 50px;
  background: rgb(109, 55, 55);
  float: right;
  /* border: 3px solid #0d0e0d; */
  border: 3px solid;
}
.first .second{
  width: 50%;
  height: 50%;
  padding: 10px;
  
  

}

.second{
background: gray;
border: 3px solid;
}

