.background{
  background-color:#c4ccc3;
}
h1{
   text-align:center;
   margin-top: 1cm;
   font-size: xx-large;
   color: cornsilk;
   background-color:rgb(214, 203, 224);
   font-family: 'Times New Roman', Times, serif;
  
}
  .column {
    border: 2px solid black;
    background-color:rgb(119, 119, 119);
    padding-left: 5px;
    color: aliceblue;
  }
  .row {
        padding-left: 5%;
        width: 100%;
  }
  #heading {
     float: right;
     padding-right: 1em;
     font-size: 1.5em;
     border: 2px solid rgb(226, 117, 117);
     font-family: 'Times New Roman', Times, serif;
     border-right: 0px;
     margin-top: 0px;
     border-top: 0px;
  
  }

  h2{
      background-color:rgb(95, 173, 115);
    }
  h3{
      background-color: rgb(15, 216, 31);
      color: aliceblue;
    }
  h4{
      background-color:rgb(241, 85, 168);
    }
p{
  font-size: 1em;
  font-weight:bolder;
  padding-bottom: 0.5cm;
}



  @media(max-width:766px){
    .box1,.box2,.sec-3{
      width: 100%;
      padding-bottom: 5%;
    }
    }

  
  @media(min-width:767px)and (max-width:992px){
      .box1,.box2,.box3{
      float: left;
      padding-bottom: 5%;
      padding-right: 5%;
    }
      .box1{
        width: 50%;
      }
      .box2{
        
        width: 50%;
      }
      .box3{
        width: 100%;
      }

  }
  @media (min-width:993px){
    .box1,.box2,.box3{
      float: left;
      padding-bottom: 5%;
      padding-right: 4%;
      width: 33.3%;
    }
  
  }
